Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  bugprone-*,
  portability-*,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
